@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans=swap');

body{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    width: 100%;
    height: 04vw;
    position: absolute;
}

.rodape{
    background-color: #d9d9d9;
    width: 205vh;
    height: 04vw;
    position: fixed;
}

#selecionacidade{
    margin-left: 5vw;
}

.selecionacidade{
    height: 5vh;
    width: 35vw;
    border-radius: 8px;
    border-style: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2vh;
    font-family: 'Roboto';
}

#localizacao{
    height: 3vh;
    padding-right: 1vw;
}

.cadastro{
    font-family: 'Roboto';
    color: #B54B2A;
}

.login{
    font-family: 'Roboto';
}

.seta{
    height: 2vh;
    transform: rotate(90deg);
    margin-left: 0.5vw;
}

.cadastraeloga{
    margin-left: 2vw;
}

#logo{
    margin-left: 10vw;
}

.logo{
    width: 08vh;
}

li{
    list-style: none;
    display: inline-block;
    margin-left: 2vw;
}

.conteudo{
    background-image: url(/adopet/img/inicial.png);
    background-repeat: no-repeat;
    background-position: 73.5vw;
    background-size: 55vh;
    display: flex;
    height: 100vh;
}

#txt1{
    margin-top: 20vh;
    font-family: 'Roboto', serif;
    font-size: 100px;
    justify-content: left;
    margin-left: 10vw;
}

#adopet{
    color: #B54B2A;
}

#txt2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    width: 40vw;
}